$animation-speed-fraction: 1;

$animation-duration: (
  overlay: (
    enter: 200 * $animation-speed-fraction,
    leave: 100 * $animation-speed-fraction,
  ),
  wallet: 300 * $animation-speed-fraction,
  status: (
    base: 200 * $animation-speed-fraction,
    identicon: 200 * $animation-speed-fraction,
  ),
  scrollWrapper: 400 * $animation-speed-fraction,
  fade: (
    enter: 300 * $animation-speed-fraction,
    leave: 100 * $animation-speed-fraction,
  ),
);

$smooth-animation: cubic-bezier(0.17, 0.67, 0.48, 1.28);

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }

  @return $map;
}

@function animation-duration($keys...) {
  $animation-length: map-deep-get($animation-duration, $keys...);
  $animation-to-ms: $animation-length + 0ms;

  @return $animation-to-ms;
}

@mixin accelerate($properties...) {
  will-change: $properties;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

:export {
  animationOverlay: map-deep-get($animation-duration, overlay, enter);
  animationWallet: map-deep-get($animation-duration, wallet);
}
