$wallet-opened-width: 320px;
$wallet-closed-height: 44px;
$wallet-opened-min-height: 115px;

$widget-size-base: 25px;
$widget-size-opened: 67px;
$widget-border-width: 2px;
$widget-blades-offset: 4px;

:export {
  walletOpenedWidth: $wallet-opened-width;
  walletClosedHeight: $wallet-closed-height;
  walletOpenedMinHeight: $wallet-opened-min-height;
}
