$wallet-opened-width: 320px;
$wallet-closed-height: 44px;
$wallet-opened-min-height: 115px;

$status-bar-padding: 16px;
$status-bar-whitelist-mobile-breakpoint: 353px;

$status-balance-height: 47px;
$status-staked-height: 13px;
$status-title-height: 13px;
$status-navigation-height: 66px;

$widget-size-base: 26px;
$widget-size-opened: 68px;
$widget-opened-top: 32px;
$widget-border-width: 2px;
$widget-blades-offset: 4px;

:export {
  walletOpenedWidth: $wallet-opened-width;
  walletClosedHeight: $wallet-closed-height;
  walletOpenedMinHeight: $wallet-opened-min-height;
  statusBarWhitelistMobileBreakpoint: $status-bar-whitelist-mobile-breakpoint;
}
