@import 'animations';
@import 'z-index';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-overflow-scrolling: touch;
}

h1 {
  color: black;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
}

h2 {
  color: black;
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 16px;
  line-height: 30px;
}
h3 {
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
h4 {
  color: #787878;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}
h5 {
  color: #000;
  font-size: 10px;
  font-weight: 500;
  font-family: sans-serif;
}

a {
  text-decoration: underline;
  color: black;
  font-weight: 400;
  cursor: pointer;
}

.hide {
  display: none;
}

.text-error {
  color: red;
  font-size: 14px;
  font-weight: 400;
}

#wallet {
  @include z-index(wallet);

  position: fixed;
  right: 0;
  overflow: hidden;

  height: auto;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  animation: wallet-animation 0 forwards;
  @include animation-duration(wallet);

  > div {
    flex: 0 0 auto;

    width: 100%;
    margin: 0px;
  }

  &:not(.opened) {
    max-width: 320px;
    border-bottom-left-radius: 5px;
    animation-direction: alternate-reverse;

    &:not(.whitelisted) {
      cursor: pointer;
    }
  }

  &.whitelisted {
    max-width: 400px;
  }

  &.opened {
    width: 320px;
    height: 100vh;

    background: #ffffff;
    box-shadow: -2px 0 14px 0 rgba(0, 0, 0, 0.15);

    animation-direction: reverse;
  }
}

@keyframes wallet-animation {
  0% {
    height: 100vh;
  }
  50% {
    width: 320px;
  }
  100% {
    box-shadow: -2px 0 14px 0 rgba(0, 0, 0, 0.15);
  }
}

/* Status bar ______________________________________________________*/

$status-bar-padding: 16px;

.status-bar {
  @include z-index(status);
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  min-height: 44px;

  background-color: rgb(10, 17, 31);

  & > div,
  & > p {
    margin: 0 8px;
  }

  #wallet:not(.opened) & {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-left-radius: 5px;
  }

  .animating & {
    flex-wrap: wrap;
  }

  .opened & {
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: $status-bar-padding;

    > * {
      margin: 8px auto;

      width: 100%;
    }

    .navigation {
      margin-top: 8px;
      margin-right: -$status-bar-padding;
      margin-bottom: -$status-bar-padding;
      margin-left: -$status-bar-padding;
      width: calc(100% + #{$status-bar-padding * 2});
      flex-basis: calc(100% + #{$status-bar-padding * 2});
    }
  }

  .whitelisted:not(.opened) & {
    min-height: 74px;
    padding: 12px 16px;
  }
}

.main {
  @include z-index(main);
  background-color: #fff;
}

.overlay {
  display: none;
  transition: all 0.5s ease-out;

  &.red,
  &.black {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    @include z-index(overlay);
  }
  &.red {
    background: #fd315f;
  }
  &.black {
    background: #000;
  }
}

/* content area ______________________________________________________*/
.scroll-wrapper {
  position: absolute;
  width: 100%;
  height: calc(
    (var(--vh, 1vh) * 100) - (var(--status-bar-vh, 1vh) * 100)
  ); /* --vh is set at App.vue and --status-bar-vh at Status.vue */
  opacity: 1;
  animation: contentGrowAnimation 0.3s ease-out;
  overflow-y: auto;
}

@media only screen and (max-width: 600px) {
  .scroll-wrapper {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.wrapper {
  width: 320px;
  padding: 20px 39px;
}

.popup .wrapper {
  padding-top: 25px;
}

.dialog {
  overflow-x: hidden;
}

/* circular button ______________________________________________________*/

.btn-circle {
  width: 34px;
  height: 34px;
  border: 1px solid #333333;
  background-repeat: no-repeat;
  border-radius: 100%;
  margin: 18px;
  background-position: center;

  &.exit {
    background-image: url(../img/ic_exit.png);
    background-size: 11px;
  }
  &.close {
    background-image: url(../img/ic_close.png);
    background-size: 6px 11px;
  }
  &.settings {
    background-image: url(../img/ic_settings.png);
    background-size: 18px;
  }
}

/* buttons ____________________________________________________*/
button {
  display: inline-block;

  margin: 12px 0px;
  padding: 8px 0px;
  color: white;
  background: #000;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 0px;
  width: 106px;
  border: 1px solid transparent;

  &:hover {
    background-color: rgba(253, 49, 95, 0.9);
    background-repeat: no-repeat;
    border: 1px solid transparent;
    color: #fff;
  }

  &:focus {
    outline: none;
  }

  &:disabled,
  &[disabled] {
    &:hover {
      cursor: not-allowed;
      background-color: rgb(229, 229, 229);
    }
  }

  &.secondary {
    color: black;
    background: white;
    border: 1px black solid;
  }

  &.full {
    display: block;
    width: 100%;
  }

  &.col {
    &.secondary {
      margin-right: 30px;
    }

    &:first-child {
      margin-right: 25px;
    }
  }

  &.loading {
    background-color: rgba(0, 0, 0, 0.75);
  }
  &.success {
    background-color: #28d8b3;
  }
  &.error {
    background: #d92929;
  }
  &.cta {
    background: #fd315f;
  }
}

/* dropdown ____________________________________________________*/

.dropdown-wrapper {
  position: relative;
  right: 1.125em;
  left: 0px;
  margin: 8px 0px;
  z-index: 4;
  border: 1px solid #000;
  border-radius: 4px;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 14px;
    margin-top: -0.4375em;
    max-width: 100%;
    width: 8px;
    height: 8px;
    z-index: 4;

    pointer-events: none;
    transform: rotate(-45deg);
    transform-origin: center;
    border: 2px solid #000;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    box-sizing: inherit;
    vertical-align: middle;
  }
}

select.dropdown {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  margin: 0px;

  padding-bottom: 8px;
  padding-left: calc(0.625em - 1px);
  padding-right: 30px;
  padding-top: 8px;

  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  font-size: 13px;

  background: #fff;
  vertical-align: middle;
  color: #000;

  &:focus {
    outline: none;
  }
}

/* textbox ____________________________________________________*/

input[type='text'],
input[type='password'],
input[type='number'] {
  width: 100%;
  margin: 8px 0px;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  outline: none;
  font-family: sans-serif;
  color: #262626;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus {
  border-color: rgba(0, 0, 0, 0.6);
}
label {
  font-size: 12px;
  color: #000;
  margin-top: 12px;
}

/* animations ____________________________________________________*/
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.status-buttons-transition-enter-active,
.status-buttons-transition-leave-active {
  transition: opacity 0 ease-in;
  @include transition-duration(status, buttons, enter);
}

.status-buttons-transition-leave-active {
  @include transition-duration(status, buttons, leave);
}

.status-buttons-transition-leave {
}

.status-buttons-transition-enter,
.status-buttons-transition-leave-to {
  opacity: 0;
}

.fade-transition-enter-active,
.fade-transition-leave-active {
  transition: opacity 0 ease-in-out;
  @include transition-duration(fade, enter);
}
.fade-transition-enter-active {
  @include transition-delay(fade, leave);
}

.fade-transition-leave-active {
  @include transition-duration(fade, leave);
}

.fade-transition-enter,
.fade-transition-leave-to {
  opacity: 0;
}

.whitelist-transition-enter-to,
.whitelist-transition-leave {
  transform: translate3d(0, 0, 0);
  left: 0
}

.whitelist-transition-enter,
.whitelist-transition-leave-to {
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}
.whitelist-transition-enter-active,
.whitelist-transition-leave-active {
  position: relative;
  transition: all .15s ease-in-out;
}

.main-transition-enter-to,
.main-transition-leave {
  transform: translate3d(0, 0, 0);
}

.main-transition-enter,
.main-transition-leave-to {
  transform: translate3d(0, -100%, 0);
  opacity: 0;
}

.main-transition-enter-active,
.main-transition-leave-active {
  position: relative;
}

@keyframes contentGrowAnimation {
  0% {
    opacity: 0;
    display: none;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
