@import 'variables';
@import 'animations';
@import 'z-index';

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-overflow-scrolling: touch;
}

h1 {
  color: black;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
}

h2 {
  color: black;
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 16px;
  line-height: 30px;
}
h3 {
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
h4 {
  color: #787878;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}
h5 {
  color: #000;
  font-size: 10px;
  font-weight: 500;
  font-family: sans-serif;
}

a {
  text-decoration: underline;
  color: black;
  font-weight: 400;
  cursor: pointer;
}

.hide {
  display: none;
}

.text-error {
  color: red;
  font-size: 14px;
  font-weight: 400;
}

/* --- content area --- */
.scroll-wrapper {
  position: absolute;
  width: 100%;
  height: calc(
    (var(--vh, 1vh) * 100) - (var(--status-bar-vh, 1vh) * 100)
  ); /* --vh is set at App.vue and --status-bar-vh at Status.vue */
  opacity: 1;
  // animation: contentGrowAnimation animation-duration(scrollWrapper) ease-out;
  overflow-x: hidden;
  overflow-y: auto;

  @media only screen and (max-width: 600px) {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.wrapper {
  width: $wallet-opened-width;
  padding: 20px 39px;
}

.popup .wrapper {
  padding-top: 25px;
}

/* --- buttons --- */
button {
  display: inline-block;

  margin: 12px 0px;
  padding: 8px 0px;
  color: white;
  background: #000;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 0px;
  width: 106px;
  border: 1px solid transparent;

  &.secondary {
    color: black;
    background: white;
    border: 1px black solid;
  }

  &.full {
    display: block;
    width: 100%;
  }

  &.col {
    &.secondary {
      margin-right: 30px;
    }

    &:first-child {
      margin-right: 25px;
    }
  }

  &.loading {
    background-color: rgba(0, 0, 0, 0.75);
  }
  &.success {
    background-color: #28d8b3;
  }
  &.error {
    background: #d92929;
  }
  &.cta {
    background: #fd315f;
  }

  &.outline {
    background: transparent;
    border: 1px solid #000;
    color:#000;

    &:hover {
      background-color: #000;
      border-color:transparent;
    }
  }

  &.ledger {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      left: 10px;
      width: 18px;
      height: 18px;
      background: url(../img/ic_ledger.svg) no-repeat center center;

    }

    &:not(.outline):before,
    &.outline:hover:before {
      filter: invert(1);
    }
  }

  &:hover {
    background-color: rgba(253, 49, 95, 0.9);
    background-repeat: no-repeat;
    border: 1px solid transparent;
    color: #fff;
  }

  &:focus {
    outline: none;
  }

  &:disabled,
  &[disabled],
  &:disabled:hover,
  &[disabled]:hover {
    cursor: not-allowed;
    background-color: rgb(229, 229, 229);
  }
}

/* --- dropdown --- */

.dropdown-wrapper {
  position: relative;
  right: 1.125em;
  left: 0px;
  margin: 8px 0px;
  z-index: 4;
  border: 1px solid #000;
  border-radius: 4px;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 14px;
    margin-top: -0.4375em;
    max-width: 100%;
    width: 8px;
    height: 8px;
    z-index: 4;

    pointer-events: none;
    transform: rotate(-45deg);
    transform-origin: center;
    border: 2px solid #000;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    box-sizing: inherit;
    vertical-align: middle;
  }
}

select.dropdown {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  margin: 0px;

  padding-bottom: 8px;
  padding-left: calc(0.625em - 1px);
  padding-right: 30px;
  padding-top: 8px;

  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  font-size: 13px;

  background: #fff;
  vertical-align: middle;
  color: #000;

  &:focus {
    outline: none;
  }
}

/* --- textbox --- */

input[type='text'],
input[type='password'],
input[type='number'] {
  width: 100%;
  margin: 8px 0px;
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  outline: none;
  font-family: sans-serif;
  color: #262626;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus {
  border-color: rgba(0, 0, 0, 0.6);
}
label {
  font-size: 12px;
  color: #000;
  margin-top: 12px;
}

/* --- checkbox --- */

.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: inline-block;
  margin: 6px 0;
  padding: 2px 10px 4px 26px;
  line-height: 14px;
  color: #262626;
  font-size: 0.9em;
  font-weight: 300;
  cursor: pointer;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #d5d5d5;
}

.checkbox:checked + label:after,
.checkbox:not(:checked) + label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.checkbox:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.checkbox:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* --- animations --- */
.fade-transition-enter-active,
.fade-transition-leave-active,
.fade-drawer-appear-transition-enter-active,
.fade-drawer-appear-transition-leave-active {
  transition: opacity animation-duration(fade, enter) ease-in;
}

.fade-transition-leave-active,
.fade-drawer-appear-transition-leave-active {
  transition-timing-function: ease-out;
  transition-duration: animation-duration(fade, leave);
  transition-delay: 0s;
}

.fade-transition-enter,
.fade-drawer-appear-transition-enter,
.fade-transition-leave-to,
.fade-drawer-appear-transition-leave-to {
  opacity: 0;
}

.fade-drawer-appear-transition-enter-active,
.fade-drawer-appear-transition-leave-active {
  transition-delay: animation-duration(wallet);
}

.fade-drawer-appear-transition-leave-active {
  transition-duration: animation-duration(fade, leave);
  transition-delay: 0s;
}


@keyframes contentGrowAnimation {
  0% {
    opacity: 0;
    display: none;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
